* {
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(150px,auto);
}

section {
  padding: 1em .5em;
}

section:nth-child(odd) {
  background-color: #f0f0f0;
  color: #000;
}

section:nth-child(even) {  
  background-color: #000;
  color: #f0f0f0;
}

h1 {
  font-size: 2em;
}

p {
  text-align: justify;
  line-height: 2em;
  word-wrap: break-word;
  word-break: break-all;
}

a {
  display: inline;
  color: #00e676;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
}

.row {
  grid-column: span 4;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.password {
  color: #00e676;
  font-size: 1.3em;
  letter-spacing: .5em;
  padding: 1em .5em;
  border: 4px dashed #00e676;
}

.password:hover {
  opacity: .7;
}

.password:active {
  opacity: .9;
}

.corner-svg {
  position: relative;
  left: 230px;
  bottom: 15px;
}

.num-input {
  padding: .2em 0;
  text-align: center;
  width: 200px;
  font-size: 1.5em;
}

.btn {
  width: 200px;
  padding: 1em;
}

.modal {
  top: 17vh;
  right: 0;
  position: absolute;
  background: green;
  width: 100%;
  display: block;
  animation: displayModal .3s;
}

.hide-modal {
  display: none;
  animation: hideModal 1s;
}

@keyframes displayModal {
  from {
    transform: scale(0);
  } to {
    transform: scale(1);
  }
}

@keyframes hideModal {
  from {
    transform: scale(1);
  } to {
    transform: scale(0);
  }
}

footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  padding: 1em;
  width: 100%;
  background: #f0f0f0;
}

footer svg {
  color: #000;
}

.connect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 1;
}

.connect a {
  text-decoration: none;
  line-height: 0;
}

.footer-text {
  font-size: .7em;
  
}

@media only screen and (max-width: 720px) {
  footer {
    padding: 0.5em 0;
    grid-template-rows: 1fr 1fr;
  }

  .connect {
    grid-column: span 2;
  }

  .footer-text {
    text-align: center;
   /* thanks iphone x... */
   font-size: .7em; 
   grid-column: span 2;
  }
}

